<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSFileManager管理文件和目录.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Objective-C-IO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>数据处理NSData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>文件的创建、删除、移动、复制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>查看目录包含的内容.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04E2FFC01C50AFDB0089E4D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E2FFCE1C50B5560089E4D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E2FFD91C50B9F30089E4D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E2FFE41C50DFFD0089E4D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E2FFEF1C50EB820089E4D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
